.hero1, .hero2, .hero3 {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: backgroundchange 30s infinite linear;
}

.hero1 {
  background-image: url('../assets/images/home/home_ban1.jpeg');
}

.hero2 {
  background-image: url('../assets/images/home/home_ban2.jpeg');
}

.hero3 {
  background-image: url('../assets/images/home/home_ban3.jpeg');
}



@keyframes backgroundchange  {
  0%, 100% {
    background-image: url('../assets/images/home/home_ban1.jpeg');
    
  }
  33.33% {
    background-image: url('../assets/images/home/home_ban2.jpeg');
  }
  66.66% {
    background-image: url('../assets/images/home/home_ban3.jpeg');
  }
}



.hero-content1,.hero-content2,.hero-content3 {
  padding: 30px 60px;
  
}

.hero-content1,.hero-content2,.hero-content3 .fs-4 {
  margin-bottom: 10px;
}

.hero-content .display-5 {
  margin-bottom: 20px;
}

.enquiry-form-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-top: 5rem; /* Adjust margin as needed */
  padding-right: 2rem;
}

@media (max-width: 991px) {
  .enquiry-form-container {
    display: none;
  }
}

@media (max-width: 576px) {
  .hero-content1,.hero-content2,.hero-content3 {
    padding: 10px 20px;
  }
}


/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Color of the track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Color of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #fe5722;
  /* Roundness of the scrollbar thumb */
  border-radius: 5px;
}


.fixed-button {
  position: fixed; /* Fixed position to stay in place */
  top: 50%; /* Positioned vertically at the center of the viewport */
  right: 0px; /* Positioned flush against the right edge */
  transform: translate(0, -50%); /* Adjusted vertically to center precisely */
  text-transform: uppercase; /* Converts text to uppercase */
  padding: 16px; /* Padding around the text inside the button */
  background-color: #fe5722; /* Background color of the button */
  color: #fff; /* Text color */
  z-index: 1000; /* Ensures the button stays above other content */
  font-weight: bolder; /* Sets the font weight to bold */
}
.fixed-button:hover{
  position: fixed; /* Fixed position to stay in place */
  top: 50%; /* Positioned vertically at the center of the viewport */
  right: 0px; /* Positioned flush against the right edge */
  transform: translate(0, -50%); /* Adjusted vertically to center precisely */
  text-transform: uppercase; /* Converts text to uppercase */
  padding: 16px; /* Padding around the text inside the button */
  background-color: #fe5722; /* Background color of the button */
  color: #fff; /* Text color */
  z-index: 1000; /* Ensures the button stays above other content */
  font-weight: bolder; /* Sets the font weight to bold */
}


  /*hero section 01*/
  @keyframes custom-pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .aos-animate[data-aos='custom-pulse'] {
    animation: custom-pulse 1s ease-in-out infinite;
  }
  
  @keyframes custom-rubberBand {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scaleX(1.25) scaleY(0.75);
    }
    40% {
      transform: scaleX(0.75) scaleY(1.25);
    }
    50% {
      transform: scaleX(1.15) scaleY(0.85);
    }
    65% {
      transform: scaleX(0.95) scaleY(1.05);
    }
    75% {
      transform: scale(1);
    }
  }
  
  .aos-animate[data-aos='custom-rubberBand'] {
    animation: custom-rubberBand 1s ease;
  }
  
  @keyframes custom-tada {
    0% {
      transform: scale(1);
    }
    10%, 20% {
      transform: scale(0.9) rotate(-3deg);
    }
    30%, 50%, 70%, 90% {
      transform: scale(1.1) rotate(3deg);
    }
    40%, 60%, 80% {
      transform: scale(1.1) rotate(-3deg);
    }
    100% {
      transform: scale(1) rotate(0);
    }
  }
  
  .aos-animate[data-aos='custom-tada'] {
    animation: custom-tada 1s ease-in-out;
  }
  
  @keyframes custom-swing {
    20% {
      transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
      transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
      transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
      transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
  
  .aos-animate[data-aos='custom-swing'] {
    animation: custom-swing 1s ease-in-out;
  }
  
  @keyframes custom-bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .aos-animate[data-aos='custom-bounce'] {
    animation: custom-bounce 1.7s ease-in-out;
  }
  
  @keyframes custom-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .aos-animate[data-aos='custom-spin'] {
    animation: custom-spin 2s linear infinite;
  }
  


.slider-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.card-slider {
  display: flex;
  transition: transform 0.5s ease;
  gap: 30px; /* Gap between cards */
}

.card-country {
  min-width: calc((100% / 3) - 25px); /* Adjusted to accommodate gaps for 3 cards in view */
  flex-shrink: 0;
}







/*contriescss*/
.slider {
  position: relative;
  max-width:  100%;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  min-width: 100%;
  box-sizing: border-box;
}

.slider-control-prev,
.slider-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 1000;
}

.slider-control-prev {
  left: 10px;
}

.slider-control-next {
  right: 10px;
}

.slider-control-prev-icon,
.slider-control-next-icon {
  font-size: 1.5rem;
}

.one{
    background-color: #fe5722;
}

.pulse:hover{
  transform: scale(1.1);
}
.shake:hover{
  transform: translate3d(10px,0,0);
}
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}



.about-home-img {
  background-image: url('../assets/images/home/blog-3-bg.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .about-home-img {
    background-size: contain; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
  }
}


.card-dream {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  
}

.card-dream .fas.fa-arrow-right {
  position: absolute;
  bottom: -50px;
  background-color: #fe5722;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.5s ease;
}

.card-dream:hover .fas.fa-arrow-right {
  bottom: 0px;
  opacity: 1;
}

.card-dream .fa {
  font-size: 40px;
  background-color: #0000000d;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fe5722;
}

.card-dream .h4 {
  font-weight: 700;
}

.container-dream .content-dream {
  max-width: 300px;
}

.container-dream .content-dream .h-6 {
  color: #fe5722;
  font-weight: 600;
}

.container-dream .content-dream .btn.btn-primary {
  padding: 15px;
  background-color: #fe5722;
  color: white;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.card-dream:hover .fa {
  color: white;
  background-color: #fe5722;
}

@media (max-width: 990px) {
  .container-dream .content-dream {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .card-dream {
    width: 100%;
  }

  .content-dream {
    padding: 25px;
  }
}

/* // */
.two{
    color:#fe5722 ;
}
.black1{
    color: #231f20;
}
.bgimg{
    background-image: url('../assets/images/home/success.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    background-position: center;
  
}
.blog1{
  background-image: url('../assets/images/home/blog-3-bg.png');
  background-repeat: no-repeat;
  background-size: cover; 
  width: 100%;
  background-position: center;
}
.admission{
  background-image: url('../assets/images/home/admission-bg1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about_ban1{
  background-image: url('../assets/images/about/about_ban1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: fit-content;
  height: 300px;
 
  background-position: bottom;
}
.about_banner{
  background-image: url('../assets/images/about/about_ban3.jpg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  background-position: center;
}
.partner5{
  background-image: url('../assets/images/recruting/partner5.jpg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  background-position: center;
}
.contact_us{
  background-image: url('../assets/images/contact/contact_us.jpg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  width: 100%;
  height: 350px;
  background-position: center;
}
.contact_bg_1{
  background-image: url('../assets/images/home/contact_bg_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#flag {
  width: 110px;
  height: 56px;
  box-sizing: content-box;
  padding-top: 15px;
  position: relative;
  background: url('../assets/img/blog/recent-post-1-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

#flag:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid #ffffff;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
}
.services-card .services-card1 {
  max-width: 300px;
  height: 215px;
  margin: 30px 10px;
  padding: 20px 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.services-card .services-card1:hover {
  height: 450px;
}

.services-card .services-card1 .imgContainer1 {
  position: relative;
  width: 250px;
  height: 250px;
  top: -50px;
  left: 10px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.services-card .services-card1 .imgContainer1 img {
  max-width: 100%;
  border-radius: 4px;
}

.services-card .services-card1 .contentnew {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.services-card .services-card1:hover .contentnew {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

@media (max-width: 330px) {
  .services-card .services-card1 .imgContainer1 {
    left: -2px;
  }
}

.one1{
    background-color:#fe5722;
    border-radius: 15px;
  
 
}
.img1{
    background-image: url('../assets//images/home/cta-bg2.png');
    background-repeat: no-repeat;
    background-size: contain;
   background-color: rgba(0, 0, 0, 0.8);
   background-blend-mode: multiply;
   width: 100%;
   height: 100%;
   
}
.bg2{
  background-image: url('../assets/images/home/bg.jpg');
}
.btn8:hover{
   background-color: #231f20; 
   color: white;
}
.btn9:hover{
    color: #231f20; 
    background-color: white;
 }
 .btn9{
    background-color: #fe5722; 
    color: white;
 }
 .btn8{
    background-color:#fe5722 ; 
    color: white;
 }
 .btn7{
    background-color:#fe5722 ; 
    color: white;
 }
 .btn7:hover{
    background-color:#fe5722 ; 
    color: white;
 }
 .t{
    text-align: justify;
}
.cardhover:hover{
    background-color: #fe5722;
    color: white;
  
   
}
.cardhover{
    transition: 0.9s ease-in-out ;
   
   
}
.btnn:hover{
    background-color: white;
    color:#fe5722;
}
.btnn{
    background-color:#fe5722;
    color:white;
}
.ic{
   
    color: white;
}
.ic:hover{
    
    color: #fe5722;
}
.bg1{
    background-image: url('https://img.freepik.com/free-vector/light-grey-dots-background_78370-2583.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(64, 49, 227, 0.5);
    background-blend-mode: multiply;
}

section {
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

div.container {
    transition: all .3s ease;
}

div.container h1 {
    margin: 15px 0 0 0;
}

div.container h3 {
    margin: 0 0 25px 0;
}

@media (max-width: 992px) {
    section {
        padding: 0 20px;
    }
}

section.slide-option {
    margin: 0 0 50px 0;
}

div.highway-slider {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 330px;
}

div.highway-barrier {
    overflow: hidden;
    position: relative;
}

ul.highway-lane {
    display: flex;
    height: 100%;

    
}

li.highway-car {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #fff;
    color: #343434;
}

@keyframes translatestf {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-500%); }
}

#stffull div.highway-barrier ul.highway-lane {
    width: 500%;
}

#stffull div.highway-barrier ul.highway-lane li.highway-car {
    animation: translatestf 30s linear infinite;
}

#stffull div.highway-barrier ul.highway-lane li.highway-car h4 {
    font-size: 28px;
}

@keyframes translateinfinite {
    100% { transform: translateX(calc(-180px * 12)); }
}



#infinite div.highway-barrier::before,
#infinite div.highway-barrier::after {
    content: " ";
    position: absolute;
    z-index: 9;
    width: 180px;
    height: 100%;
}

#infinite div.highway-barrier::before {
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

#infinite div.highway-barrier::after {
    top: 0;
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

#infinite div.highway-barrier ul.highway-lane {
    width: calc(180px * 24);
}

#infinite div.highway-barrier ul.highway-lane li.highway-car {
    width: 180px;
    animation: translateinfinite 25s linear infinite;
}

#infinite div.highway-barrier ul.highway-lane li.highway-car span.fab {
    font-size: 65px;
}

#red { background: #cb5454; }
#orange { background: #cb8054; }
#yellow { background: #cbba54; }
#green { background: #69b46e; }
#blue { background: #6091b0; }
