/* Navbar Dropdown */
.dropdown:hover .dropdown-menu {
  background: #fff !important;
  color: #0f2239 !important;
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  transition: all 0.4s linear !important;
  top: 100% !important;
}

.dropdown {
  position: relative !important;

  z-index: 1 !important;
  transform: perspective(1000px) !important;
}

.dropdown-menu {
  background: #fff !important;
  color: #0f2239 !important;
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  position: absolute !important;
  z-index: 1000 !important;
  transition: opacity 0.3s ease, visibility 0.3s ease !important;
}

/* Navbar and Fixed Top Styles */
/* Ensure the header is hidden initially */
.header-hidden {
  transform: translateY(-100%) !important;
  transition: transform 0.3s ease-in-out !important;
}

.header-visible {
  transform: translateY(0) !important;
}

.navbar {
  transition: box-shadow 0.3s ease-in-out !important;
}

/* Add box-shadow for better visibility when navbar is fixed */
.navbar.scrolled {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

/* Active and hover styles */

.dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa !important; /* Background color on hover */
}

.nav-link {
  transition: color 0.3s ease-in-out;
  color: #231f20 !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.nav-link:hover {
  transition: color 0.3s ease-in-out;
  color: #fe5720 !important;
  font-weight: 600 !important;
}
.nav-link:active {
  transition: color 0.3s ease-in-out;
  color: #fe5720 !important;
  font-weight: 600 !important;
}
/* Navbar.css */

.nav-link {
  text-decoration: none;
  color: #333; /* Default link color */
 
}

.nav-link.active {
  color: #fe5722 !important; /* Highlight color for the active link */
  font-weight: bold !important;
}
/* Navbar.css */

/* Ensure the offcanvas takes up the full height and desired width */
.offcanvas {
  width: 250px !important; /* Adjust width as needed */
  max-width: 100% !important; /* Ensure it doesn't exceed the viewport width */
  height: 100vh !important;
}

.offcanvas-body {
  padding: 1rem !important; /* Adjust padding as needed */
}
